*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{    
    font-family: sans-serif;
    background-color: #EED7CE;
}
.app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    height: 80px;
    background-color: #FFC4E1;
    color: #ca5997;
    padding: 1rem;
}
.game-board{
    margin: 0.5rem auto;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.card{
    background-color: #FFC4E1;
    border: 2px solid #582f46;
    border-radius: 20px;
    margin: 0.5rem;
    box-shadow: 5px 5px 5px #525252;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.card img{
    width: auto;
    height: 100px;
}
.flip-out {     
    transform: scaleX(0);
    transition: 0.2s ease-out;
}


.protectFromClicks{
    position:fixed;
    top: 15vh;
    left: 0px;
    width: 100vw;
    height: 100vw;
    z-index: 10;
    opacity: 0;
    background-color: aquamarine;
    cursor:default;
}

.header{
    display: flex;
    flex-direction: column;
}

.header-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}