body{
    margin: 0;
    font-family: sans-serif;
}
.app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    height: 15vh;
    border: solid thin gray;
}
.game-board{
    height: 85vh;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.card{
    background-color: rgb(238, 188, 240);
    border: thin solid grey;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.card-cover {
    opacity: 0;
}

.card img{
    width: auto;
    height: 150px;
}
.flip-out {     
    transform: scaleX(0);
    transition: 0.2s ease-out;
}
.flip-in {     
    transform: scaleX(-1);
    transition: 0.2s ease-out;
}

.back {
    background-color: #333;
}
